services:
  database:
    image: postgres:18
    ports:
      - "5432:5432"
    volumes:
      - ./.data:/var/lib/postgresql
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
