@import '~bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons.css';

@import 'hues';

.card, .card-footer, .badge {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge, .btn {
    border: 1px solid transparent;
}

.badge-alcohol {
    background-color: $pink;
}

.badge-soft {
    background-color: $yellow
}

.badge-fruit-and-vegetable {
    background-color: $teal;
}

.badge-other {
    background-color: $cyan;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;

    p {
        margin-bottom: .25rem;
    }
}
