@for $i from 0 through 36 {
    $hue: $i * 10;

    $lighter: hsl($hue, 75%, 90%);
    $light: hsl($hue, 75%, 80%);
    $dark: hsl($hue, 80%, 40%);
    $darker: hsl($hue, 80%, 30%);

    .bg-hue-#{$hue} {
        background-color: $dark;
    }

    .jumbotron-hue-#{$hue}:after {
        background-color: hsla($hue, 80%, 40%, 0.7);
    }

    .card-hue-#{$hue} {
        background-color: $lighter;

        .card-footer {
            background-color: $light;
        }

        &:hover {
            background-color: $dark;
            color: white;

            .btn-hue-#{$hue}, .badge-hue-#{$hue} {
                background: transparent;
                color: white;
                border: 1px solid white;
            }

            .card-footer {
                background-color: $darker;
            }
        }
    }

    .badge-hue-#{$hue}, .btn-hue-#{$hue} {
        background-color: $dark;
        color: white;
    }

    .btn-hue-#{$hue}:hover {
        background-color: $darker;
        color: white;
        border: 1px solid white;
    }
}