{% extends 'base.html.twig' %}

{% set hue1 = random(36) * 10 %}
{% set hue2 = random(36) * 10 %}

{% block body %}
    <header>
        {% block header %}
            {% block nav %}
                <nav class="navbar navbar-dark bg-hue-{{ hue1 }} shadow-sm">
                    <div class="container d-flex justify-content-between">
                        <a href="{{ path('homepage') }}" class="navbar-brand d-flex align-items-center">
                            <strong>Cocktails !</strong>
                        </a>
                    </div>
                </nav>
            {% endblock %}
        {% endblock %}
    </header>
    <main role="main">
        {% block content %}{% endblock %}
    </main>
{% endblock %}

{% block footer %}
    <footer class="bg-hue-{{ hue1 }} text-white">
        <div class="container d-flex justify-content-between">
            <p>
                Fait avec <i class="bi bi-cup-straw"></i> par&nbsp;
                <a class="text-white" href="https://github.com/Plouufff" target="_blank" rel="noopener noreferrer">
                    Plouufff <i class="bi bi-github"></i>
                </a>
            </p>
            <p>
                <a href="#" class="text-white d-none d-sm-block">Retour en haut de page</a>
                <a href="#" class="text-white d-block d-sm-none"><i class="bi bi-arrow-up"></i></a>
            </p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
